{% extends 'base/index.html' %}
{% block title %}
    ShortStories
{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
      <div class="col-sm">
       Author
      </div>
      <div class="col-sm">
          {% if shortstories %}
          <ul>
          {% for ShortStory in shortstories %}
              <li><a >{{ShortStory.title}}</a></li>
              <div class="col-sm">
              <li><a >{{ShortStory.status}}</a></li>
              </div>
              <div class="col-sm">
            <li><a >{{ShortStory.publication_date}}</a></li>
              </div>
          {% endfor %}
          </ul>
      {% else %}
          <p>No polls are available.</p>
      {% endif %}
    </div>
    </div>
</div>
  {% endblock %}