{% extends 'base/index.html' %}
{% block title %}
    ShortStories
{% endblock %}
{% block content %}
<div class="row">
            {% if shortstories %}
            {% for ShortStory in shortstories %}
            <div class="w-50"></div>
                <div class="col col-lg-2">{{ShortStory.title}}</div>
                <div class="col-md-auto">{{ShortStory.status}}</div>
                <div class="col col-lg-2">{{ShortStory.publication_date}}</div>
                {% endfor %}
                {% else %}
                <p>No ShortStories availabale</p>
                {% endif %}    
</div>
  {% endblock %}